<!DOCTYPE html>
<html>
  <head>
    <title>Cloud Computing Assignment 1</title>
    <meta
      name="keywords"
      content="Cloud computing assignment 1 at RMIT, 2021 semester 1"
    />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static/css', filename='light.min.css') }}"
      media=""
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static/css', filename='dark.min.css') }}"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static/css', filename='mono.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static/css', filename='color.min.css') }}"
    />

  </head>
  <body>
    <div id="root">
      <div class="container">
        <div class="content">
          <h1>Hey buddy</h1>
          <div class="p rounded b-primary border">heyyyyy</div>
        </div>
      </div>
    </div>
  </body>
</html>
